h1{
margin-block-start: 25px;
font-family: 'M PLUS 1', sans-serif;
text-align: center;
color: #DFE31E;
font-weight: 400;
font-size: 48px;
}
.htext1{
color: #3E45E8;
}
.fonimg{
    font-family: 'Inika', serif;
    height: 803px;
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-left: 80px;
    box-sizing: border-box;
}
.text_in_img{
    color: white;
    width: 76%;
    font-size: 48px;
    height: 272px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    padding-left: 3%;
    box-sizing: border-box;
}
h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-top: 39px;
    padding-left: 80px;
    margin-bottom: 0px
}
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-left: 80px;
    padding-top: 25px;
}
.card1{
    width: 391.2px;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgb(0 0 0 / 25%);
    border-radius: 30px;
    margin-left: 80px;
    margin-top: 33px;
    display: inline-block;
    box-sizing: border-box;
}
.cardimg{
    width: 100%;
}
h3{ 
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
    margin-top: 16px;
    margin-bottom: 23px;
    padding-left: 10px;
}
.textyellow{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    color: #E8C23E;
    padding-bottom: 75px;
}
.Ukrain{
    text-align: center;
}
.line2{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-left: 39%;
    padding-top: 21px; 
}
.imgkarta{
    width: 812px;
    margin: 41px 0px;
}
.button1{
    width: 33%;
    height: 121px;
    background-color: #2A61F0;
    color: white;
    text-align: center;
    margin-left: 511px;
    font-weight: 700;
    font-size: 251%;
    box-sizing: border-box;
}
.ukyelow{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #DFE31E;
    padding-right: 36px;
}
.footer1{
    text-align: center;
    background-color: #2F4A4B;
}
.mail{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    padding-left: 46px;
}
.tel{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    padding-left: 46px;
    display: block;
    padding-top: 21px;
}
.seti{
    display: block;
    padding-top: 21px;
    padding-left: 47px;
    padding-bottom: 27px;
}